body {
  display: flex;
  flex-direction: row;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 853px;
  height: 851px;
  left: 151px;
  top: 88px;
  border-radius: 50%;
  border: 3px dashed var(--black);
}
.ready {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 70px;
  background: var(--gradient);
  border-radius: 10px;
}
