:root {
	--cards: 4;
	--cardHeight: 87vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}
/* КАРТИНКА ВВЕРХУ */
.top {
  width: 72.396vw;
  height: 33.594vw;
  background-image: url("../img/synthesis/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
/* КАРТОЧКА */
.card {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  border-radius: 15px;
  height: 33.594vw;
  background-size: cover;
	transition: all 0.5s;
}
/* ЛИНИЯ ПОД СТАТИСТИКОЙ */
.line {
  transform: rotate(0deg);
}
/* БЛОК ДЛЯ КОНТЕНТА */
.article {
  width: 72.396vw;
  margin: 0 auto;
}
/* ЗАГОЛОВОК */
.title {
  margin-top: 60px;
}
/* БЛОК ОПИСАНИЯ */
.text_block {
  display: flex;
  flex-direction: row;
  margin: 4.167vw 0 0 0;
  gap: 13.281vw;
}
/* СТИЛИ СПИСКА  */
#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: 6em;
  margin: 4.688vw 0 4vw 0;
}
/* БЛОКИ ДЛЯ ИЗОБРАЖЕНИЙ */
#card1  {
  background-image: url("../img/synthesis/1.png");
  padding-top: 1.5em;
}
#card2  {
  background-image: url("../img/synthesis/2.png");
  padding-top: 3em;
}
#card3  {
  background-image: url("../img/synthesis/1.png");
  padding-top: 4.5em;
}
#card4  {
  background-image: url("../img/synthesis/2.png");
  padding-top: 6em;
}
/* АДАПТИВНОСТЬ */
@media all and (max-width: 1440px) {
  h1 {
    
  }
}
